div.st-du.st-cc.st-bi.st-cz.st-d0 {visibility: hidden;} 
div.st-du.st-cc.st-bi.st-cz.st-d0:before {content: "请选择"; visibility: visible;}
.label-font {font-size:20px; font:sans serif; font-weight:700;}
div.st-ec.st-dh.st-cu.st-ed.st-ee {visibility: hidden;} 
div.st-ec.st-dh.st-cu.st-ed.st-ee:before {content: "请选择"; visibility: visible;} 
.label-font2 {font-size:16px; font:sans serif; font-weight:700}
div.css-1s0xhnp {visibility: hidden;}
