.label-font {font-size:22px; font:sans serif; font-weight:700}
.label-font2 {font-size:16px; font:sans serif; font-weight:700}
div.css-1s0xhnp {visibility: hidden;}
div.st-el.st-dh.st-cu.st-e2.st-e3 {visibility: hidden;}
div.st-el.st-dh.st-cu.st-e2.st-e3: before {content: "请选择"; visibility: visible;}